body {
    background-color: #ecfcf9;
}

.color-custom {
    background-color: #316092;
}

.flex {
    display: flex;
    justify-content: flex-end;
}
.encabezados {
    font-size: 100px;
}
.icono{
    transition: all 1.3s;
}
.icono:hover{
    transform: rotate(-10deg) scale(1.2);
}
.usuarioX{
    transition: all 1.3s;
}
.usuarioX:hover{
    transform:scale(1.2);
}
@media screen and (max-width: 601px) {
    body .encabezados {
        font-size: 16pt;
    }
    
}

